{% load static %}

<aside class="app-sidebar shadow"
       style="background-color: #1e40af;"
       data-bs-theme="dark">

<!--begin::Sidebar Brand-->
  <div class="sidebar-brand" style="color: white; font-size: 1rem; margin-left: -140px;">
    <a href="{% url 'staff_home' %}" class="brand-link">
      <div class="d-flex align-items-center mb-2">
        <img
          src="{% static 'dist/assets/img/staff.jpg' %}"
          alt="AdminLTE Logo"
          class="brand-image opacity-75 shadow me-2"
          style="opacity: .8"
        >
        <span class="fw-light" style="color: white; font-size: 1rem; ">Staff</span>
      </div>
    </a>
  </div>

  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <!-- User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex border-bottom">
      <div class="image">
        <img src="{% static 'dist/assets/img/Bamalang.jpg' %}"
             alt="User Image"
             class="rounded-circle elevation-2 me-2"
             style="width: 30px; height: 30px; object-fit: cover;margin-left: 15px;">
      </div>
      <div class="info">
        <a href="{% url 'profile_staff' %}" class="d-block text-white text-decoration-none">
          {{ user.username }}
        </a>
        <span class="fw-light" style="color: #c2c7d0; font-size: 0.8rem;">Admin</span>
      </div>
    </div>
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2" style="color: white; font-size: 1rem; margin-left: -10px;" >
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item menu-open">
          {% url 'staff_home' as staff_home %}
          <a href="{{ staff_home }}" class="nav-link {% if request.path == staff_home %} active {% endif %}">
            <i class="nav-icon bi bi-house-door me-2"></i>
            <p>
              Home
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>

          </a>
        </li>

         <li class="nav-item menu-open">
          {% url 'staff_take_attendance' as staff_take_attendance %}
          <a href="{{ staff_take_attendance }}" class="nav-link {% if request.path == staff_take_attendance %} active {% endif %}">
             <i class="nav-icon bi bi-calendar-plus me-2"></i>
            <p>
              Take Attendance
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>

          </a>
        </li>


         <li class="nav-item menu-open">
          {% url 'staff_update_attendance' as staff_update_attendance %}
          <a href="{{ staff_update_attendance }}" class="nav-link {% if request.path == staff_update_attendance %} active {% endif %}">
             <i class="nav-icon bi bi-calendar-check me-2"></i>
            <p>
              View Update Attendance
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>

          </a>
        </li>

        <li class="nav-item menu-open">
          {% url 'staff_apply_leave' as staff_apply_leave %}
          <a href="{{ staff_apply_leave }}" class="nav-link {% if request.path == staff_apply_leave %} active {% endif %}">
             <i class="nav-icon bi bi-calendar-x me-2"></i>
            <p>
             Apply Leave
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>

          </a>
        </li>

        <li class="nav-item menu-open">
          {% url 'staff_feedback' as staff_feedback %}
          <a href="{{ staff_feedback }}" class="nav-link {% if request.path == staff_feedback %} active {% endif %}">
            <i class="nav-icon bi bi-chat-left-text me-2"></i>
            <p>
              FeedBack
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>

          </a>
        </li>
        <li class="nav-item menu-open">
          {% url 'staff_add_result' as staff_add_result %}
          <a href="{{ staff_add_result }}" class="nav-link {% if request.path == staff_add_result %} active {% endif %}">
            <i class="nav-icon bi bi-journal-plus me-2"></i>
            <p>
              Staff Add Result
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>

          </a>
        </li>

        <li class="nav-item menu-open">
          {% url 'staff_all_notification' as staff_all_notification %}
          <a href="{{ staff_all_notification }}" class="nav-link {% if request.path == staff_all_notification %} active {% endif %}">
             <i class="nav-icon bi bi-bell me-2"></i>
            <p>
              Notification
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>

          </a>
        </li>

         <li class="nav-item menu-open">
          {% url 'edit_student_result' as edit_student_result %}
          <a href="{{ edit_student_result }}" class="nav-link {% if request.path == edit_student_result %} active {% endif %}">
            <i class="nav-icon bi bi-pencil-square me-2"></i>
            <p>
              Add Result
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>

          </a>
        </li>
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  </div>

  <!--end::Sidebar Wrapper-->
</aside>