{% extends 'registration/base_template.html' %}

{% block content %}
{% if validlink %}
<div class="card-body login-card-body">
    <p class="login-box-msg">Change Password</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-block btn-success">Change Password</button>
    </form>
</div>
{% else %}
<div class="alert alert-danger mt-3 text-center">
    <p>The password reset link was expired or invalid.</p>
</div>
{% endif %}
{% endblock content %}
