{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}
<main class="app-main">
      <!--begin::App Content Header-->
      <!--end::App Content Header-->
      <!--begin::App Content-->
      <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">

            <div class="container-fluid ">

            <!--end::App Content Header-->
            <!--begin::App Content-->

              <div class="container-fluid">
                   <div class="pagetitle">
                <h3> Homme </h3>

            </div>
                <!--begin::Row-->
                <div class="row ">
                  <!--begin::Col-->
                  <div class="col-lg-3 col-6">
                    <!--begin::Small Box Widget 1-->
                    <div class="small-box text-bg-primary">
                      <div class="inner">
                        <h3>{{ student_count }}</h3>
                        <p>TOTAL STUDENTS</p>
                      </div>
                      <svg
                        class="small-box-icon"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                      >
                        <path
                          d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
                        ></path>
                      </svg>
                      <a
                        href="{% url 'manage_student' %}"
                        class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
                      >
                        More info <i class="bi bi-link-45deg"></i>
                      </a>
                    </div>
                    <!--end::Small Box Widget 1-->
                  </div>
                  <!--end::Col-->
                  <div class="col-lg-3 col-6">
                    <!--begin::Small Box Widget 2-->
                    <div class="small-box text-bg-success">
                      <div class="inner">
                        <h3>{{ staff_count }}<sup class="fs-5">%</sup></h3>
                        <p>TOTAL STAFFS</p>
                      </div>
                      <svg
                        class="small-box-icon"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                      >
                        <path
                          d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"
                        ></path>
                      </svg>
                      <a
                        href="{% url 'manage_staff' %}"
                        class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
                      >
                        More info <i class="bi bi-link-45deg"></i>
                      </a>
                    </div>
                    <!--end::Small Box Widget 2-->
                  </div>
                  <!--end::Col-->
                  <div class="col-lg-3 col-6">
                    <!--begin::Small Box Widget 3-->
                    <div class="small-box text-bg-warning">
                      <div class="inner">
                        <h3>{{ course_count }}</h3>
                        <p>TOTAL COURSE</p>
                      </div>
                      <svg
                        class="small-box-icon"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                      >
                        <path
                          d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"
                        ></path>
                      </svg>
                      <a
                        href="{%  url 'manage_courses' %}"
                        class="small-box-footer link-dark link-underline-opacity-0 link-underline-opacity-50-hover"
                      >
                        More info <i class="bi bi-link-45deg"></i>
                      </a>
                    </div>
                    <!--end::Small Box Widget 3-->
                  </div>
                  <!--end::Col-->
                  <div class="col-lg-3 col-6">
                    <!--begin::Small Box Widget 4-->
                    <div class="small-box text-bg-danger">
                      <div class="inner">
                        <h3>{{ subject_count}}</h3>
                        <p>TOTAL SUBJECT</p>
                      </div>
                      <svg
                        class="small-box-icon"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                      >
                        <path
                          clip-rule="evenodd"
                          fill-rule="evenodd"
                          d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z"
                        ></path>
                        <path
                          clip-rule="evenodd"
                          fill-rule="evenodd"
                          d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z"
                        ></path>
                      </svg>
                      <a
                        href="{% url 'manage_subject' %}"
                        class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
                      >
                        More info <i class="bi bi-link-45deg"></i>
                      </a>
                    </div>
                    <!--end::Small Box Widget 4-->
                  </div>
                  <!--end::Col-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card card-danger">
                      <div class="card-header">
                        <h3 class="card-title">STUDENT AND STAFF CHART</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fs-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fs-minus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-6">
                    <div class="card card-success">
                      <div class="card-header">
                        <h3 class="card-title">TOTAL SUBJECT IN EACH COURSES</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fs-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fs-minus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                    </div>

                  </div>
                </div>
                   <div class="row mt-3">
                          <!-- Première colonne - TOTAL STUDENT IN EACH COURSE -->
                          <div class="col-lg-6">
                              <div class="card card-info">
                                  <div class="card-header">
                                      <h3 class="card-title">TOTAL STUDENT IN EACH COURSE</h3>
                                      <div class="card-tools">
                                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                              <i class="fas fa-minus"></i>
                                          </button>
                                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                                              <i class="fas fa-times"></i>
                                          </button>
                                      </div>
                                  </div>
                                  <div class="card-body">
                                      <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                  </div>
                              </div>
                          </div>

                          <!-- Deuxième colonne - TOTAL SUBJECT IN EACH COURSES -->
                          <div class="col-lg-6">
                              <div class="card card-warning">
                                  <div class="card-header">
                                      <h3 class="card-title">TOTAL SUBJECT IN EACH COURSES</h3>
                                      <div class="card-tools">
                                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                              <i class="fas fa-minus"></i>
                                          </button>
                                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                                              <i class="fas fa-times"></i>
                                          </button>
                                      </div>
                                  </div>
                                  <div class="card-body">
                                      <canvas id="pieChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                  </div>
                              </div>
                          </div>
                   </div>
                     <div class="row mt-3">
                         <div class="col-lg-12">
                             <div class="card card-success">
                                 <div class="card-header">
                                     <h3 class="card-title">Staff Leaves vs Attendance</h3>
                                     <div class="card-tools">
                                         <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i> </button>
                                         <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-times"></i> </button>
                                     </div>
                                 </div>
                                 <div class="card-body">
                                     <div class="chart">
                                 <canvas id="barChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>

                                     </div>
                                 </div>
                             </div>
                         </div>

                  </div>
                  <div class="row mt-3">
                         <div class="col-lg-12">
                             <div class="card card-success">
                                 <div class="card-header">
                                     <h3 class="card-title">Staff Leaves vs Attendance</h3>
                                     <div class="card-tools">
                                         <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i> </button>
                                         <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-times"></i> </button>
                                     </div>
                                 </div>
                                 <div class="card-body">
                                     <div class="chart">
                                 <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>

                                     </div>
                                 </div>
                             </div>
                         </div>

                  </div>
    <!-- /.row -->

    <!-- /.container -->
    </div>
    </div>
    </div>
    </div>

</main>


    <!--end::Container-->
{% endblock main_content %}
{% block custom_js %}
<script>
  $(document).ready(function(){
    // ==================== CONFIGURATION PIÉCHART (Students vs Staffs) ====================
    const pieConfig = {
      data: {
        labels: ['Students', 'Staffs'],
        datasets: [{
          data: [{{ student_count }}, {{ staff_count }}],
          backgroundColor: ['#f56954', '#00a65a']
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true
      }
    };

    // ==================== CONFIGURATION DONUT CHART (Subjects by Course) ====================
    var subject_count_list = {{ subject_count_list|safe }};
    var course_name_list = {{ course_name_list|safe }};

    const donutConfig = {
      data: {
        labels: course_name_list,
        datasets: [{
          data: subject_count_list,
          backgroundColor: [
            '#569554',
            '#00c65c',
            '#f39c12',
            '#00c0ef',
            '#3c8dbc',
            '#d2d6de'
          ]
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
      }
    };

    // ==================== CONFIGURATION PIÉCHART 2 (Students by Course) ====================
    var student_count_list_in_course = {{ student_count_list_in_course|safe }};
    var course_name_list_2 = {{ course_name_list|safe }}; // Réutilisez ou créez une nouvelle variable si nécessaire

    const pieConfig2 = {
      data: {
        labels: course_name_list_2,
        datasets: [{
          data: student_count_list_in_course,
          backgroundColor: ['#aa00ff', '#00a65a', '#f56954', '#ff3d00']
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
      }
    };

    // ==================== CONFIGURATION PIÉCHART 3 (Students by Subject) ====================
    var student_count_list_in_subject = {{ student_count_list_in_subject|safe }};
    var subject_list = {{ subject_list|safe }};

    const pieConfig3 = {
      data: {
        labels: subject_list,
        datasets: [{
          data: student_count_list_in_subject,
          backgroundColor: ['#aa00ff', '#00a65a', '#f56954', '#ff3d00']
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
      }
    };

    // ==================== INITIALISATION DES CHARTS ====================

    // Chart 1: Pie Chart (Students vs Staffs)
    if ($('#pieChart').length > 0) {
      try {
        const pieCanvas = $('#pieChart').get(0).getContext('2d');
        new Chart(pieCanvas, {
          type: 'pie',
          data: pieConfig.data,
          options: pieConfig.options
        });
        console.log('Pie Chart 1 initialized');
      } catch (error) {
        console.error('Pie Chart 1 error:', error);
      }
    }

    // Chart 2: Donut Chart (Subjects by Course)
    if ($('#donutChart').length > 0) {
      try {
        const donutCanvas = $('#donutChart').get(0).getContext('2d');
        new Chart(donutCanvas, {
          type: 'doughnut',
          data: donutConfig.data,
          options: donutConfig.options
        });
        console.log('Donut Chart initialized');
      } catch (error) {
        console.error('Donut Chart error:', error);
      }
    }

    // Chart 3: Pie Chart 2 (Students by Course)
    if ($('#pieChart2').length > 0) {
      try {
        const pieCanvas2 = $('#pieChart2').get(0).getContext('2d');
        new Chart(pieCanvas2, {
          type: 'pie',
          data: pieConfig2.data,
          options: pieConfig2.options
        });
        console.log('Pie Chart 2 initialized');
      } catch (error) {
        console.error('Pie Chart 2 error:', error);
      }
    }

    // Chart 3: Pie Chart 3 (Students by Subject)
    if ($('#pieChart3').length > 0) {
      try {
        const pieCanvas3 = $('#pieChart3').get(0).getContext('2d');
        new Chart(pieCanvas3, {
          type: 'pie',
          data: pieConfig3.data,
          options: pieConfig3.options
        });
        console.log('Pie Chart 3 initialized');
      } catch (error) {
        console.error('Pie Chart 3 error:', error);
      }
    }
    // STAFF LEAVE VS ATTENDANCE BAR CHART
    var attendance_present_list_staff = {{ attendance_present_list_staff|safe }};
    var attendance_absent_list_staff = {{ attendance_absent_list_staff|safe }};
    var staff_name_list = {{ staff_name_list|safe }};
    var barChartData = {
            labels: staff_name_list,
            datasets:[
            {
            label:  'Leaves',
            backgroundColor: 'rgba(60, 141,188,0.9)',
            borderColor: 'rgba(60, 141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60, 141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60, 141,188,1)',
            data: attendance_absent_list_staff

            },
            {
            label: 'Attendance',
            backgroundColor: 'rgba(210, 214,222,1)',
            borderColor: 'rgba(210, 214,222,1)',
            pointRadius: false,
            pointColor: 'rgba(210, 214,222,1)',
            pointStrokeColor: '#c1c7d1',
            pointHighlightFill: '#fff',
             pointHighlightStroke: 'rgba(210, 214,222,1)',
             data: attendance_present_list_staff

            }
            ]
            };


            var barChartCanvas1 = $('#barChart1').get(0).getContext('2d');
            var temp0 = barChartData.datasets[0]
            var temp1 = barChartData.datasets[1]
            barChartData.datasets[0] = temp1
            barChartData.datasets[1] = temp0


            var barChartOptions1 = {
            responsive: true,
            maintainAspectRatio: false,
            datasetFill: false
            }

            var barChart1 = new Chart(barChartCanvas1, {
            type: 'bar',
            data: barChartData,
            options: barChartOptions1

  });

      // STUDENT LEAVE VS ATTENDANCE BAR CHART
    var attendance_present_list_student = {{ attendance_present_list_student }};
    var attendance_absent_list_student = {{ attendance_absent_list_student }};
    var student_name_list = {{ student_name_list|safe }};
    var barChartData = {
            labels: student_name_list,
            datasets:[
            {
            label:  'Leaves',
            backgroundColor: 'rgba(60, 141,188,0.9)',
            borderColor: 'rgba(60, 141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60, 141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60, 141,188,1)',
            data: attendance_absent_list_student

            },
            {
            label: 'Attendance',
            backgroundColor: 'rgba(210, 214,222,1)',
            borderColor: 'rgba(210, 214,222,1)',
            pointRadius: false,
            pointColor: 'rgba(210, 214,222,1)',
            pointStrokeColor: '#c1c7d1',
            pointHighlightFill: '#fff',
             pointHighlightStroke: 'rgba(210, 214,222,1)',
             data: attendance_present_list_student

            }
            ]
            };


            var barChartCanvas2 = $('#barChart2').get(0).getContext('2d');
            var temp0 = barChartData.datasets[0]
            var temp1 = barChartData.datasets[1]
            barChartData.datasets[0] = temp1
            barChartData.datasets[1] = temp0


            var barChartOptions2 = {
            responsive: true,
            maintainAspectRatio: false,
            datasetFill: false
            }

            var barChart2 = new Chart(barChartCanvas2, {
            type: 'bar',
            data: barChartData,
            options: barChartOptions2

  });




  });
</script>
{% endblock custom_js %}
