{% extends 'hod_template/base_template.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}

<!--begin::App Content-->
<div class="app-content">
    <div class="container-fluid">
        <div class="pagetitle">
                <h3> Staff Feedback </h3>

            </div>
        <div class="row">
            <div class="col-md-12">
                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                <div class="card card-primary card-outline mb-4">
                    <!-- Titre -->
                    <div class="card-header text-white" style="background: linear-gradient(45deg, #11998e, #38ef7d);">
                        <h3 class="card-title">Staff Feedback</h3>
                    </div>

                    <!-- Tableau -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>ID Feedback</th>
                                    <th>ID Staff </th>
                                    <th>Staff Name</th>
                                    <th>Message</th>
                                    <th>Sent On</th>
                                    <th>Reply</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for feedbacks in feedbacks %}
                                <tr>
                                    <td>{{ feedbacks.id }}</td>
                                    <td>{{ feedbacks.staff_id.admin.id }}</td>
                                    <td>{{ feedbacks.staff_id.admin.first_name }} {{ feedback.staff_id.admin.last_name }}</td>
                                    <td>{{ feedbacks.feedback }}</td>
                                    <td>{{ feedbacks.created_at|date:"M d, Y, P" }}</td>
                                    <td>
                                        {% if feedbacks.feedback_reply == "" %}
                                        <button class="btn btn-success reply_open_model" data-bs-toggle="modal" data-bs-target="#reply_modal">Reply</button>
                                        {% else %}
                                        {{ feedbacks.feedback_reply }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="reply_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reply</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Reply <span class="reply_name"></span></p>
          <input type="hidden" id="reply_id" name="reply_id">
          <div class="mb-3">
          <textarea class="form-control" rows="5" id="reply_message"></textarea>
          </div>
          <button id="reply_btn" class="btn btn-info btn-block">Reply</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!--end::App Content-->

{% endblock main_content %}
{% block custom_js %}
<script>
$(document).ready(function(){
    $(".reply_open_model").click(function(){
        var id = $(this).parents("tr").children("td:eq(0)").text();
        var name = $(this).parents("tr").children("td:eq(2)").text();

        $("#reply_id").val(id);
        $(".reply_name").text(name);
    });
});

$(document).on("click", "#reply_btn", function(){
    $(this).attr("disabled", "disabled");
    $(this).text("Sending Reply...");

    var id = $("#reply_id").val();
    var message = $("#reply_message").val();

    $.ajax({
        url: '{% url "feedback_message_staff_replied" %}',
        type: 'POST',
        data: {
            id: id,
            message: message,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    })
    .done(function(response){
        if(response == "True"){
            alert("Reply Sent!");
        } else {
            alert("Error in Sending Reply");
        }
        location.reload();
    })
    .fail(function(xhr, status, error){
       alert("AJAX Error in Sending Student Reply");
    });
});
</script>

{% endblock custom_js %}
